USERNAME=user.name
PASSWORD=your_password
SERVER=100.0.10.1
DATABASE=DataBaseName
DRIVER=ODBC Driver 17 for SQL Server

DBT_MY_DATABASE=my_database
DBT_MY_SCHEMA=my_schema
DBT_SECRET_KEY=my_secret_value
